<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/base :: layout(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<div class="container m-3">
			<form method="post" action="">
				<div class="form-group">
					<label for="title" class="form-label">제목</label>
					<input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp">
				</div>
				
				<div class="form-group">
					<label for="content" class="form-label">내용</label> 
					<textarea class="form-control summernote" id="content"></textarea>
				</div>
				
				<button type="submit" class="btn btn-primary mt-3" id="writeBtn">글작성</button>
			</form>
		</div>
<script>
$(document).ready(function() {
	$('.summernote').summernote({
		tabsize: 2,
		height: 300
     });
	
	$('#writeBtn').on('click', function(e){
		e.preventDefault();
		
		const data ={
			title : $('#title').val(),
			content : $('#content').val(),
		};
		
		console.log(data);
		
		$.ajax({
			type : 'post',
			url : '/api/board',
			data : JSON.stringify(data),
			contentType : 'application/json; charset=utf-8',
		}).done(function(response){
			location.href= '/';
		}).fail(function(error){
			alert(JSON.stringify(error));
		});
	});
});
</script>
	</main>
</body>
</html>